<h1>Welcome</h1>
<h2>CraftyBeaver software develops applications for the web and mobile devices.  Most of the software we develop is open source.</h2>

<p>
 	CraftyBeaver software is lead by Jim Englert.  We has developed several <a href="http://rubyonrails.org/">Ruby on Rails</a> applications.  Apps include <a href="http://pingpongpoints.com">PingPong Points</a>, <a href="http://thepeoplesfeed.com">The People's Feed</a>, and <a href="http://ridesabike.com">rides-a-bike</a>.  These sites are all available on <a href="http://github.com/jenglert">GitHub</a>. 
	
</p>