<h1>Path Times</h1>
<h2>Path Times is an android application that delivers upcoming NJ Transit PATH train times and other information.</h2>

<p>
 	<h3>Features</h3>
	<ul>
		<li>No internet connection required.  All information is stored in the application</li>
		<li>Quick and simple interface reduces mis-clicks.</li>
		<li>Affordable price!</li>
	</ul>
	
	<h3>Screen Shots</h3>
	
</p>