<h1>Path Times</h1>
<h2>Path Times is an android application that delivers upcoming NJ Transit PATH train times and other information.</h2>

<p>
 	<h3>Features</h3>
	<ul>
		<li>No internet connection required.  All information is stored in the application</li>
		<li>Quick and simple interface reduces mis-clicks.</li>
		<li>Affordable price!</li>
		<li>
			<a href="http://www.androlib.com/android.application.jre-pathtimes-jCtpt.aspx">
				Androlib Description
			</a>
		</li>
		<li>Search "<span class="focus">PATH Times</span>" in the Android marketplace</li>
	</ul>
	
	<h3>Screen Shots</h3>
	
	<div class="pathScreenshots">
		<img src="/images/from.png" class="pathScreenshot"/> <img src="/images/to.png" class="pathScreenshot"/> <img src="/images/results.png" class="pathScreenshot"/>
	</div>
</p>