<h1>The 126 Bus Android App</h1>
<h2>The 126 Bus app provides bus times for the 126 bus line between New Jersey and </h2>

<p>
 	<h3>Features</h3>
	<ul>
		<li>No internet connection required.  All information is stored in the application</li>
		<li>Very easy interface avoids mis-clicks.  Extremely easy to use.</li>
		<li>Affordable price!</li>
		<li>
			<a href="http://www.androlib.com/android.application.jre-bus-zqECw.aspx">
				Androlib Description
			</a>
		</li>
		<li>Search "<span class="focus">126 Bus</span>" in the Android marketplace</li>
	</ul>
	
	<h3>Screen Shots</h3>
	
	<div class="pathScreenshots">
		<img src="/images/bus/direction.png" class="pathScreenshot"/> 
		<img src="/images/bus/selection.png" class="pathScreenshot"/> 
		<img src="/images/bus/results.png" class="pathScreenshot"/>
	</div>
</p>